/*****RESET*****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/********UTILITY*******/
.row {
  width: 100%;
}

.col {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}


/********MAIN********/

.main-wrapper {
  height: 100vh;
  background-color: green;
  justify-content: flex-start;
}

main {
  height: calc(100vh - 90px);
  background-color: rgb(20, 25, 34);
  display: flex;
}


/********COLONNA SPOTIFY********/

.sidebar-wrapper {
  overflow: hidden;
}

aside {
  width: 230px;
  background-color: brown;
}

aside .top {
  background-color: black;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

aside .bottom {
  height: 80px;
  background-color: black;
  color: white;
}

.spotify-logo {
  width: 115px;
}

.spotify-logo:hover {
  cursor: pointer;
}

.icons-col {
  width: 18px;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}


.spotify-menu {
  align-items: flex-start;
  flex-shrink: 0;
}

.spotify-menu ul {
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  margin: 10px;
}

.spotify-menu ul li a {
  position: relative;
  height: 25px;
}


/********ALBUM********/

.debug {
  border: 1px solid white;
}

.album-box {
  width: calc(100% - 230px);
  background-color: rgb(20, 25, 34);
  overflow: auto;
}

.album-box .recently-played {
  padding: 40px 10px;
  color: white;
}

.card {
  width: calc(100% / 6);
  padding: 10px;
  cursor: pointer;
}


.album-title {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.subtitle {
  color: gray;
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.suggestions {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.suggestions h2 {
  color: white;
  padding-bottom: 10px;
}

.suggestions span {
  color: gray;
}

.popular-artists {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.popular-artists h2 {
  color: white;
  padding-bottom: 10px;
}

.popular-artists span {
  color: gray;
}

.border img {
  border-radius: 50%;
}


/********UPGRADE-BAR********/
.cta {
  background-color: rgb(8, 11, 18);
  position: sticky;
  z-index: 2;
  opacity: 0.5;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}

.button {
  position: absolute;
  right: 10px;
  text-decoration: none;
  border: 1.5px solid white;
  border-radius: 30px;
  padding: 8px 40px;
  font-size: 15px;
  top: 22px;
}

/********BARRA DI NAVIGAZIONE********/
.album-box .album-container {
  padding: 20px;
}

.album-box .nav-menu ul {
  width: 100%;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu li a {
  color: gray;
  font-weight: bold;
}

/********PLAYBAR********/
.playbar {
  height: 90px;
  background-color: rgb(40, 40, 40);
  padding: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(100% / 3);
}

.playing {
  justify-content: start;
  align-items: center;
}

.actions {
  padding-left: 25px;
}

.info {
  padding-left: 10px;
}

.playing .sinister {
  width: 40px;
  cursor: pointer;
}

.playing .info span {
  font-size: 12px;
}

.playing .actions h5 {
  cursor: pointer;
}

.playing .info span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.playing .actions a {
  margin: 5px;
}

/********MUSIC********/

.music {
  width: 50vw;
  max-width: 430px;
}

.music .music-buttons {
  justify-content: center;
  padding-top: 5px;
  gap: 20px;
}

.music .musicbar {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.music .music-bar {
  width: 100%;
  position: relative;
  align-items: center;
  height: 5px;
  background-color: gray;
  margin: 0 20px;
  border-radius: 30px;
  cursor: pointer;
}

.music .music-bar .tempo-passato {
  width: 25%;
  height: 5px;
  position: absolute;
  background-color: white;
  left: 0;
  border-radius: 30px;
}

.tempo span {
  font-size: 12px;
}

.end-song span {
  font-size: 12px;
}

/********VOLUME********/
.volume i {
  padding: 0 8px;
}