/*****RESET*****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/********UTILITY*******/
.row {
  width: 100%;
}

.col {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

body {
  font-family: "Montserrat", sans-serif;
}

/********MAIN********/

.main-wrapper {
  height: 100vh;
  background-color: green;
}

main {
  height: calc(100vh - 90px);
  background-color: rgb(20, 25, 34);
  display: flex;
}

/********COLONNA SPOTIFY********/
aside {
  width: 230px;
  background-color: brown;
}

aside .top {
  background-color: black;
  height: calc(100% - 80px);
}

aside .bottom {
  height: 80px;
  background-color: black;
}

/********ALBUM********/

.album-box {
  width: calc(100% - 230px);
  background-color: rgb(20, 25, 34);
  overflow: auto;
}

/********UPGRADE-BAR********/
.cta {
  background-color: rgb(8, 11, 18);
  position: fixed;
  z-index: 1;
  opacity: 0.5;
  height: 80px;
  width: 100%;
}

/********BARRA DI NAVIGAZIONE********/


/********PLAYBAR********/
footer {
  height: 90px;
  background-color: rgb(40, 40, 40);
}